body{ 
    
    background: url(background.jpg);
    color: #666666;
    font-family: verdana, arial, sans-serif;
}

header{
    
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, "Times New Roman", serif;
    
    
}

h1{
    margin-bottom: 0;
    background: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    height: 72px;
    background: #000033;
    color: #FFFFFF;
    line-height: 200%;
    
}

nav{
    
    font-weight: bold;
    background: #90c7E3;
    padding: 5px;
}

h2{
    color: #3399cc;
    font-family: Georgia, serif;
}

h3{
    color:#000033;
    font-family: serif;
}

main{
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

dt{
    font-weight: bold;
    color: #000033;
}

.resort{
    
    color: #000033;
    font-size: 1.2em;
    
}

footer{
    
    font-size: : 0.70em;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

#wrapper{
    
    background-color: #ffffff;
    min-width: 700px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#homehero{
    
    background-image: url(coast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px;
}

#yurthero{
    
    background-image: url(yurt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px;
    
}

#trailhero{
    
    background-image: url(trail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px;
}

nav a {
    
    text-decoration: none;
}