*{box-sizing: border-box;}

header, nav, main, footer 
{
  display: block;
}

body
{ 
    
    background: url(background.jpg);
    color: #666666;
    font-family: verdana, arial, sans-serif;
}

header
{
    
    background-color: #000033;
    color: #FFFFFF;
    font-family: Georgia, "Times New Roman", serif;
    
    
}

h1
{
    margin-bottom: 0;
    background: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    height: 72px;
    background: #000033;
    color: #FFFFFF;
    line-height: 200%;
    
}

nav
{
    float: left;
    width: 160px;
    font-weight: bold;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding: 5px;
}

h2
{
    color: #3399cc;
    font-family: Georgia, serif;
}

h3
{
    color:#000033;
    font-family: serif;
}

main
{
  padding: 1px 20px;
  background-color: #FFFFFF;
  margin-left: 170px;
}

dt
{
    font-weight: bold;
    color: #000033;
}

.resort
{
    
    color: #000033;
    font-size: 1.2em;
    
}

footer
{
    
    font-size: : 0.70em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    margin-left: 170px;

}

#wrapper
{
    
    background-color: #90C7E3;
    min-width: 700px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#homehero
{
    
    background-image: url(coast.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px;
    margin-left: 0px;
}

#yurthero
{
    
    background-image: url(yurt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px;
    margin-left: 0px;
    
}

#trailhero
{
    
    background-image: url(trail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 100px;
    margin-left: 0px;
}

nav a
{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    
}

nav ul
{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    
}
 
nav a:link
{
    color:#000033;
}
nav a:visited
{
    color:#344873;
}
nav a:hover
{
    color: #FFFFFF;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }

 #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    box-shadow: none;
  }
    h1 {
    margin: 0;
  }

  nav {
    float: none;
    width: auto;
    padding: 0.5em;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 1em;
  }

  main {
    padding: 1em;
    margin-left: 0;
    font-size: 90%;
  }

  footer {
    margin: 0;
  }

  #homehero, #yurthero, #trailhero {
    margin-left: 0;
  }
}

@media only all and (max-width: 768px) {
  h1 {
    height: 100%;
    font-size: 1.5em;
    padding-left: 0.3em;
  }

  nav {
    padding: 0;
  }

  nav a {
    display: block;
    padding: 0.2em;
    font-size: 1.3em;
    border-bottom: 1px solid #330000;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    margin: 0;
    padding: 0;
  }

  main {
    padding: 0.1em 0.6em 0.1em 0.4em;
  }

  #homehero, #yurthero, #trailhero {
    display: none;
  }

  footer {
    padding: 0;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }
}

table
{
  margin: auto;
  border: 1px solid #3399cc;
  width: 90%;
  border-collapse: collapse;
}

td, th
{
  padding: 5px;
  border: 1px solid #3399cc;
}

td 
{
  text-align: center;
}

.text
{
  text-align: left;
}

tr:nth-of-type(even)
{
  background-color: #F5FAFC;
}

label {
  float: left;
  display: block;
  width: 8em;
  padding-right: 1em;
}

input, textarea {
  display: block;
  margin-bottom: 1em;
}

#mySubmit {
  margin-left: 10em;
}
